{% extends "base_generic.html" %}

{% block content %}
    <h1>Список авторов</h1>

    {% if author_list %}
    <ul>
      {% for author in author_list %}
      <li>
        <a href="{{ author.get_absolute_url }}">{{ author.first_name}} {{ author.last_name }}</a> ({{ author.date_of_birth }}-
        {% if date_of_death %} {{ author.date_of_death }} {% else %} рожден{% endif %})
      </li>
      {% endfor %}
    </ul>
    
    <p><a href="{% url 'author_create' %}">Добавить автора</a></p>
    {% else %}
      <p>There are no author in the list.</p>
    {% endif %}       
{% endblock %}